.branch-creator {
  display: flex;
  flex-direction: column ;
  .branch-header{

  }
  .tree-section {
  }
  .branch-card {
    max-width: 200px;
    padding-bottom: 10px;
    .card-border{
      border-bottom: 1px solid blueviolet;
    }
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
}
