<div class="container tree-creator">
  <div class="flex-container">
    <button mat-raised-button color="primary" (click)="displayStepper = !displayStepper">Start your new family tree here
    </button>
  </div>
  <div class="row">
    <div *ngIf="displayStepper">
      <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="getFormName(form.formName)" *ngFor="let form of dataForms; let i=index"
                  [optional]="form.isOptional">
          <form [formGroup]="getFormName(form.formName)">
            <ng-template matStepLabel>{{form.stepName}}</ng-template>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <mat-form-field>
                      <input matInput placeholder="First Name" formControlName="firstName" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field>
                      <input matInput placeholder="Last Name" formControlName="lastName" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-1">
                    <label>Gender:</label>
                  </div>
                  <div class="col">
                    <mat-radio-group formControlName="gender" required>
                      <div class="row">
                        <div class="col">
                          <mat-radio-button checked="true" class="example-radio-button" value="male">Male
                          </mat-radio-button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <mat-radio-button value="female">Female</mat-radio-button>
                        </div>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field>
                      <input matInput [matDatepicker]="i" placeholder="Birth date"
                             formControlName="birthDate"
                             required>
                      <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
                      <mat-datepicker #i></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-raised-button color="warn" [disabled]="selfFormGroup.invalid || motherFormGroup.invalid"
                    (click)="createTree();displayStepper = !displayStepper">
              Get started :)
            </button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
